<h1>Post details</h1>

<div>
  <% if(post.type == "image"){ %>
    <img src="/<%= post.path %>" alt="post image">
  <% }else if(post.type == "video"){ %>
    <iframe width="560" height="315" src="<%= post.path %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <% } %>
  <%= post.description %>

  </div>

  <div>
    created at: <%= moment(post.createdAt).fromNow() %>
    <br>
    updated at: <%= moment(post.updatedAt).fromNow() %>
  </div>

  <br>
  likes: <%= post.likes.length %>
  <br>
  people who likes this:
  <% post.likes.forEach((like, index)=>{ %>
    <div>
      <br>
      <%= index+1 +' '+ like.userName %>
    </div>

  <% }) %>

