
<link rel="stylesheet" href="/css/post_style.css">
<h1>Post details</h1>
<div class="posts-container">
  <div class="post-container2">
    <div class="content-container">
  <% if(post.type == "image"){ %>
    <img src="/<%=post.path%>" alt="Post Image" class="img">
  <% }else if(post.type == "video"){ %>
    <iframe width="80%"  src="<%=post.path%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <% } %>
</div>
<div class="post-description">
  <%= post.description %>
  Created At: <%= moment(post.createdAt).fromNow() %>
  Updated At: <%= moment(post.updatedAt).fromNow() %>
<br>


  likes: <%= post.likes.length %>
  people who likes this:
  <br>
  <% post.likes.forEach((like, index)=>{ %>
      <%= index+1 +' '+ like.userName %>
      <br>
  <% }) %>
</div>
  <div>

  Comments: <%=post.comment.length%>

<div class="comments-list">
  <% post.comment.forEach((comment,index)=>{ %>
    <div class="comment-container editable">
      <%= comment.user.userName %> :  <%= comment.content %>
    </div>
<br>
  <% }) %></div>
</div>
</div>
</div>