<link rel="stylesheet" href="/css/post_style.css">

<div class="posts-container">
<% posts.forEach((post)=>{ %>
<br>
  <div class="post-container">
    <a href="/post/delete?id=<%= post._id %>">Delete</a>
    <a href="/post/edit?id=<%= post._id %>">Edit</a>
    <a href="/post/detail?id=<%= post._id %>">Details</a>
    <div class="content-container">
    <% if(post.type == "image"){ %>
      <img src="/<%=post.path%>" alt="post image" class="img">
    <% }else if(post.type == "video"){ %>
      <iframe width="80%"  src="<%=post.path%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
      <%= post.description %>
    </div>
  

    likes: <%= post.likes.length %>
  
      <form action="/like?id=<%= post._id %>" method="post">
        <button>like</button>
      </form>
  </div>
<% }) %>
</div>