<link rel="stylesheet" href="/css/mypost_style.css">
<div class="profile">
<h1>Profile page</h1>
<a href="/user/edit/?id=<%=currentUser._id%>">Edit Profile</a>
</div>


<% posts.forEach((post)=>{ %>
<br>
  <div class="post-container">
    <a href="/post/delete?id=<%= post._id %>">Delete</a>
    <a href="/post/edit?id=<%= post._id %>">Edit</a>
    <a href="/post/detail?id=<%= post._id %>">Details</a>
    <div class="imgOrVideo">
    <% if(post.type == "image"){ %>
      <img src="/<%=post.path%>" alt="post image">
    <% }else if(post.type == "video"){ %>
      <iframe width="560" height="315" src="<%= post.path %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
  </div>
    <div class="post-description">
      <%= post.description %>
    </div>
  
    <br>
    likes: <%= post.likes.length %>
    <br>
      <form action="/like?id=<%= post._id %>" method="post">
        <button>like</button>
      </form>
     
    
  </div>
<% }) %>
</div>